*/bin
*/obj
RestRequest/bin/Debug/netstandard2.0/RestRequest.deps.json
RestRequest/bin/Debug/netstandard2.0/RestRequest.dll
RestRequest/bin/Debug/netstandard2.0/RestRequest.pdb
RestRequest/obj/Debug/netstandard2.0/RestRequest.AssemblyInfo.cs
RestRequest/obj/Debug/netstandard2.0/RestRequest.csproj.CoreCompileInputs.cache
RestRequest/obj/Debug/netstandard2.0/RestRequest.AssemblyInfoInputs.cache
RestRequest/obj/Debug/netstandard2.0/RestRequest.csproj.FileListAbsolute.txt
RestRequest/obj/Debug/netstandard2.0/RestRequest.csprojResolveAssemblyReference.cache
RestRequest/obj/Debug/netstandard2.0/RestRequest.dll
RestRequest/obj/Debug/netstandard2.0/RestRequest.pdb
RestRequest/obj/project.assets.json
RestRequest/obj/RestRequest.csproj.nuget.cache
RestRequest/obj/RestRequest.csproj.nuget.g.props
RestRequest/obj/RestRequest.csproj.nuget.g.targets
*.dll
*.pdb
*.cache
.vs/WZL.RestRequest/v15/.suo
.vs/WZL.RestRequest/v15/Server/sqlite3/db.lock
.vs/WZL.RestRequest/v15/Server/sqlite3/storage.ide
.vs/WZL.RestRequest/v15/Server/sqlite3/storage.ide-shm
.vs/WZL.RestRequest/v15/Server/sqlite3/storage.ide-wal
*.DotSettings
WZL.RestRequest.Example/obj/Debug/netcoreapp2.0/WZL.RestRequest.Example.csproj.FileListAbsolute.txt
*.txt
RestRequest/bin/Release/netstandard2.0/RestRequest.deps.json
RestRequest/bin/Release/RestRequest.1.0.0.nupkg
RestRequest/obj/Release/netstandard2.0/RestRequest.AssemblyInfo.cs
RestRequest/obj/Release/RestRequest.1.0.0.nuspec
WZL.RestRequest.Example/obj/project.assets.json
WZL.RestRequest.Example/obj/WZL.RestRequest.Example.csproj.nuget.g.props
WZL.RestRequest.Example/obj/WZL.RestRequest.Example.csproj.nuget.g.props
*.props
WZL.RestRequest.Example/obj/project.assets.json
WZL.RestRequest.Example/obj/project.assets.json
WZL.RestRequest.Example/obj/WZL.RestRequest.Example.csproj.nuget.g.targets
WZL.RestRequest.Example/obj/project.assets.json
WZL.RestRequest.Example/obj/WZL.RestRequest.Example.csproj.nuget.g.props
WZL.RestRequest.Example/obj/WZL.RestRequest.Example.csproj.nuget.g.targets
*.targets
*.nupkg
RestRequest/obj/Release/RestRequest.1.0.1.nuspec
WZL.RestRequest.Example/obj/project.assets.json
*.nuspec
.vs/WZL.RestRequest/DesignTimeBuild/.dtbcache
.vs/config/applicationhost.config
WebApplication1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApplication1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApplication1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApplication1/obj/Debug/netcoreapp2.1/WebApplication1.AssemblyInfo.cs
WebApplication1/obj/Debug/netcoreapp2.1/WebApplication1.RazorAssemblyInfo.cs
WebApplication1/obj/project.assets.json
WZL.RestRequest.sln.DotSettings.user
.gitattributes
.vs/WZL.RestRequest/lut/0/0/RestRequest/Debug/netstandard2.0/RestRequest.deps.json
.vs/WZL.RestRequest/lut/0/0/WebApplication1/Debug/netcoreapp2.1/WebApplication1.deps.json
.vs/WZL.RestRequest/lut/0/0/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/0/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/0/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.deps.json
.vs/WZL.RestRequest/lut/0/0/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/0/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/0/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.deps.json
.vs/WZL.RestRequest/lut/0/0/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/0/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/1/RestRequest/Debug/netstandard2.0/RestRequest.deps.json
.vs/WZL.RestRequest/lut/0/1/WebApplication1/Debug/netcoreapp2.1/WebApplication1.deps.json
.vs/WZL.RestRequest/lut/0/1/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/1/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/1/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.deps.json
.vs/WZL.RestRequest/lut/0/1/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/1/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/1/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.deps.json
.vs/WZL.RestRequest/lut/0/1/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/1/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/b/RestRequest/Debug/netstandard2.0/RestRequest.deps.json
.vs/WZL.RestRequest/lut/0/b/WebApplication1/Debug/netcoreapp2.1/WebApplication1.deps.json
.vs/WZL.RestRequest/lut/0/b/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/b/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/b/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.deps.json
.vs/WZL.RestRequest/lut/0/b/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/b/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/b/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.deps.json
.vs/WZL.RestRequest/lut/0/b/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/b/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/buildstate.lut
.vs/WZL.RestRequest/lut/0/i/RestRequest/Debug/netstandard2.0/RestRequest.AssemblyInfo.cs
.vs/WZL.RestRequest/lut/0/i/RestRequest/Debug/netstandard2.0/RestRequest.csproj.CopyComplete
.vs/WZL.RestRequest/lut/0/i/WebApplication1/Debug/netcoreapp2.1/WebApplication1.AssemblyInfo.cs
.vs/WZL.RestRequest/lut/0/i/WebApplication1/Debug/netcoreapp2.1/WebApplication1.csproj.CopyComplete
.vs/WZL.RestRequest/lut/0/i/WebApplication1/Debug/netcoreapp2.1/WebApplication1.RazorAssemblyInfo.cs
.vs/WZL.RestRequest/lut/0/i/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.AssemblyInfo.cs
.vs/WZL.RestRequest/lut/0/i/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.csproj.CopyComplete
.vs/WZL.RestRequest/lut/0/i/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.AssemblyInfo.cs
.vs/WZL.RestRequest/lut/0/i/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.csproj.CopyComplete
.vs/WZL.RestRequest/lut/0/i/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.Program.cs
.vs/WZL.RestRequest/lut/0/t/RestRequest/Debug/netstandard2.0/RestRequest.deps.json
.vs/WZL.RestRequest/lut/0/t/WebApplication1/Debug/netcoreapp2.1/WebApplication1.deps.json
.vs/WZL.RestRequest/lut/0/t/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/t/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/t/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.deps.json
.vs/WZL.RestRequest/lut/0/t/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/t/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.json
.vs/WZL.RestRequest/lut/0/t/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.deps.json
.vs/WZL.RestRequest/lut/0/t/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/0/t/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/0/RestRequest/Debug/netstandard2.0/RestRequest.deps.json
.vs/WZL.RestRequest/lut/19516/0/WebApplication1/Debug/netcoreapp2.1/WebApplication1.deps.json
.vs/WZL.RestRequest/lut/19516/0/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/0/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/0/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.deps.json
.vs/WZL.RestRequest/lut/19516/0/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/0/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/0/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.deps.json
.vs/WZL.RestRequest/lut/19516/0/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/0/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/1/RestRequest/Debug/netstandard2.0/RestRequest.deps.json
.vs/WZL.RestRequest/lut/19516/1/WebApplication1/Debug/netcoreapp2.1/WebApplication1.deps.json
.vs/WZL.RestRequest/lut/19516/1/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/1/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/1/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.deps.json
.vs/WZL.RestRequest/lut/19516/1/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/1/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/1/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.deps.json
.vs/WZL.RestRequest/lut/19516/1/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/1/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/b/RestRequest/Debug/netstandard2.0/RestRequest.deps.json
.vs/WZL.RestRequest/lut/19516/b/WebApplication1/Debug/netcoreapp2.1/WebApplication1.deps.json
.vs/WZL.RestRequest/lut/19516/b/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/b/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/b/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.deps.json
.vs/WZL.RestRequest/lut/19516/b/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/b/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/b/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.deps.json
.vs/WZL.RestRequest/lut/19516/b/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/b/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/buildstate.lut
.vs/WZL.RestRequest/lut/19516/i/RestRequest/Debug/netstandard2.0/RestRequest.AssemblyInfo.cs
.vs/WZL.RestRequest/lut/19516/i/RestRequest/Debug/netstandard2.0/RestRequest.csproj.CopyComplete
.vs/WZL.RestRequest/lut/19516/i/WebApplication1/Debug/netcoreapp2.1/WebApplication1.AssemblyInfo.cs
.vs/WZL.RestRequest/lut/19516/i/WebApplication1/Debug/netcoreapp2.1/WebApplication1.csproj.CopyComplete
.vs/WZL.RestRequest/lut/19516/i/WebApplication1/Debug/netcoreapp2.1/WebApplication1.RazorAssemblyInfo.cs
.vs/WZL.RestRequest/lut/19516/i/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.AssemblyInfo.cs
.vs/WZL.RestRequest/lut/19516/i/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.csproj.CopyComplete
.vs/WZL.RestRequest/lut/19516/i/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.AssemblyInfo.cs
.vs/WZL.RestRequest/lut/19516/i/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.csproj.CopyComplete
.vs/WZL.RestRequest/lut/19516/i/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.Program.cs
.vs/WZL.RestRequest/lut/19516/t/RestRequest/Debug/netstandard2.0/RestRequest.deps.json
.vs/WZL.RestRequest/lut/19516/t/WebApplication1/Debug/netcoreapp2.1/WebApplication1.deps.json
.vs/WZL.RestRequest/lut/19516/t/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/t/WebApplication1/Debug/netcoreapp2.1/WebApplication1.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/t/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.deps.json
.vs/WZL.RestRequest/lut/19516/t/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/t/WZL.RestRequest.Example/Debug/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.json
.vs/WZL.RestRequest/lut/19516/t/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.deps.json
.vs/WZL.RestRequest/lut/19516/t/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.dev.json
.vs/WZL.RestRequest/lut/19516/t/XUnitTestProject/Debug/netcoreapp2.1/XUnitTestProject.runtimeconfig.json
.vs/WZL.RestRequest/lut/coverage.lutdata
/XUnitTestProject/bin
/XUnitTestProject/obj
*.txt
WZL.RestRequest.Example/obj/Debug/netcoreapp2.0/WZL.RestRequest.Example.csproj.FileListAbsolute.txt
RestRequest/RestRequest.csproj
WZL.RestRequest.Example/obj/project.assets.json
WZL.RestRequest.Example/bin/Debug/netcoreapp2.0/WZL.RestRequest.Example.deps.json
WZL.RestRequest.Example/obj/Release/netcoreapp2.0/WZL.RestRequest.Example.csproj.CopyComplete
WZL.RestRequest.Example/obj/Release/netcoreapp2.0/WZL.RestRequest.Example.AssemblyInfo.cs
WZL.RestRequest.Example/bin/Release/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.json
WZL.RestRequest.Example/bin/Release/netcoreapp2.0/WZL.RestRequest.Example.runtimeconfig.dev.json
WZL.RestRequest.Example/bin/Release/netcoreapp2.0/WZL.RestRequest.Example.deps.json
WebApplication1/obj/Release/netcoreapp2.1/WebApplication1.RazorAssemblyInfo.cs
WebApplication1/obj/Release/netcoreapp2.1/WebApplication1.AssemblyInfo.cs
WebApplication1/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApplication1/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApplication1/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApplication1/bin/Release/netcoreapp2.1/WebApplication1.runtimeconfig.json
WebApplication1/bin/Release/netcoreapp2.1/WebApplication1.runtimeconfig.dev.json
WebApplication1/bin/Release/netcoreapp2.1/WebApplication1.deps.json
RestRequest/obj/Debug/RestRequest.1.0.0.nuspec
WZL.RestRequest.Example/bin/Release/netcoreapp2.0/WZL.RestRequest.Example.deps.json
RestRequest/obj/Debug/RestRequest.1.0.0.nuspec
*/bin
*/obj
WZL.RestRequest.Example/bin/Release/netcoreapp2.0/WZL.RestRequest.Example.deps.json
RestRequest/obj/Debug/RestRequest.1.0.0.nuspec
