
RestRequest/bin/Debug/netstandard2.0/RestRequest.deps.json
RestRequest/bin/Debug/netstandard2.0/RestRequest.dll
RestRequest/bin/Debug/netstandard2.0/RestRequest.pdb
RestRequest/obj/Debug/netstandard2.0/RestRequest.AssemblyInfo.cs
RestRequest/obj/Debug/netstandard2.0/RestRequest.csproj.CoreCompileInputs.cache
RestRequest/obj/Debug/netstandard2.0/RestRequest.AssemblyInfoInputs.cache
RestRequest/obj/Debug/netstandard2.0/RestRequest.csproj.FileListAbsolute.txt
RestRequest/obj/Debug/netstandard2.0/RestRequest.csprojResolveAssemblyReference.cache
RestRequest/obj/Debug/netstandard2.0/RestRequest.dll
RestRequest/obj/Debug/netstandard2.0/RestRequest.pdb
RestRequest/obj/project.assets.json
RestRequest/obj/RestRequest.csproj.nuget.cache
RestRequest/obj/RestRequest.csproj.nuget.g.props
RestRequest/obj/RestRequest.csproj.nuget.g.targets
*.dll
*.pdb
*.cache
.vs/WZL.RestRequest/v15/.suo
.vs/WZL.RestRequest/v15/Server/sqlite3/db.lock
.vs/WZL.RestRequest/v15/Server/sqlite3/storage.ide
.vs/WZL.RestRequest/v15/Server/sqlite3/storage.ide-shm
.vs/WZL.RestRequest/v15/Server/sqlite3/storage.ide-wal
*.DotSettings
WZL.RestRequest.Example/obj/Debug/netcoreapp2.0/WZL.RestRequest.Example.csproj.FileListAbsolute.txt
*.txt
RestRequest/bin/Release/netstandard2.0/RestRequest.deps.json
RestRequest/bin/Release/RestRequest.1.0.0.nupkg
RestRequest/obj/Release/netstandard2.0/RestRequest.AssemblyInfo.cs
RestRequest/obj/Release/RestRequest.1.0.0.nuspec
WZL.RestRequest.Example/obj/project.assets.json
WZL.RestRequest.Example/obj/WZL.RestRequest.Example.csproj.nuget.g.props
WZL.RestRequest.Example/obj/WZL.RestRequest.Example.csproj.nuget.g.props
*.props
WZL.RestRequest.Example/obj/project.assets.json
WZL.RestRequest.Example/obj/project.assets.json
WZL.RestRequest.Example/obj/WZL.RestRequest.Example.csproj.nuget.g.targets
WZL.RestRequest.Example/obj/project.assets.json
WZL.RestRequest.Example/obj/WZL.RestRequest.Example.csproj.nuget.g.props
WZL.RestRequest.Example/obj/WZL.RestRequest.Example.csproj.nuget.g.targets
*.targets
*.nupkg
RestRequest/obj/Release/RestRequest.1.0.1.nuspec
WZL.RestRequest.Example/obj/project.assets.json
*.nuspec
.vs/WZL.RestRequest/DesignTimeBuild/.dtbcache
.vs/config/applicationhost.config
WebApplication1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApplication1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApplication1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApplication1/obj/Debug/netcoreapp2.1/WebApplication1.AssemblyInfo.cs
WebApplication1/obj/Debug/netcoreapp2.1/WebApplication1.RazorAssemblyInfo.cs
WebApplication1/obj/project.assets.json
WZL.RestRequest.sln.DotSettings.user
.gitattributes
